<h1>Login page</h1>
<%= link_to 'Example link', controller: 'notes' %>
<br>
<%= link_to 'Access with your ID',login_path, controller: 'sessions' %>
<br>
<%= link_to 'New User? Sign up',signup_path, controller: 'users' %>
